<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdmgang.remindly">
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/remindly_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/remindly_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.Remindly">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Register" />
        <activity android:name=".MainPage" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>